<header class='header_desarrollo text-center'>
	<img class='header_desarrollo' src='./assets/images/customer/desarrollo_para_todos_monochrome.png' alt='Desarrollo para todos'
	/>
</header>


<div class="menu_prin_vc text-center">
	<img class='logo-segob show-for-medium' src="./assets/images/customer/segob.png" alt='Secretaría de Gobierno' />

	<span class="titulo_principal show-for-medium">Dirección de Notarías y Registros Públicos</span>

	<span class="titulo_principal hide-for-medium">Registro Público</span>

</div>

<div class='show-for-medium'>
	&nbsp;
</div>

<router-outlet></router-outlet>

<br />

<div class="row contenedor-transparencia">
	<div class="columns small-12 medium-5">
		<img src="./assets/images/customer/tlaxcala.gob.png" alt="" title="Gobierno del Estado de Tlaxcala" />
	</div>
	<div class="columns medium-7 show-for-medium text-center">
		<img src="./assets/images/customer/desarrollo_h.png" alt="" title="Desarrollo para todos" />
	</div>
</div>


<footer class="row small-collapse">
	<div class='show-for-medium copyright'>
		&copy; 2016. Sitio de la Dirección de Notarías y Registros Públicos del Gobierno del Estado de Tlaxcala.
	</div>
	<div class='hide-for-medium copyright'>
		&copy; Secretaría de Gobierno del Estado de Tlaxcala.
	</div>
</footer>

<br /><br /><br />&nbsp;
