<div class="row">
	<div class="columns small-12 medium-4">
		<img src="./assets/images/customer/customer.full.logo.png" alt="" title="Gobierno del Estado de Tlaxcala" />
	</div>
	<div class="columns medium-4">
		<h2></h2>
	</div>
	<div class="columns medium-4 show-for-medium right">
		<img src="./assets/images/customer/desarrollo_v.png" alt="" title="Desarrollo para todos" />
	</div>
</div>
<div class="row">
	<div class="columns medium-12 show-for-medium mainTitle">
		<h1>Dirección de Notarías y Registros Públicos</h1>
	</div>
	<div class="columns small-12 hide-for-medium mainTitle">
		<h1>Registro Público</h1>
	</div>
</div>
<br/>
<div class="row">
	<div class="columns small-12 small-centered" style="text-align:center">
		<h3>Servicios gratuitos de consulta y verificación</h3>
	</div>
</div>
<br/>
<router-outlet></router-outlet>

<div class="row" style="position:fixed;bottom:8pt;font-size:8pt">
	<div class="columns medium-12 show-for-medium medium-centered">
		<a class="copyright" href="http://www.tlaxcala.gob.mx/">© México 2016. Dirección de Notarías y Registros Públicos. Secretaría de Gobierno. Gobierno del Estado de Tlaxcala.</a>
	</div>
<!--	<div class="columns small-12 small-centered hide-for-medium">
		<a class="copyright" href="http://www.tlaxcala.gob.mx/">© Secretaría de Gobierno del Estado de Tlaxcala.</a>
	</div>-->
	 	 
</div> 
