
<div class="row show-for-large">
  <div class="columns medium-4">
    <img src="./assets/images/customer/customer.full.logo.png" alt="" title="Gobierno del Estado de Tlaxcala" />
  </div>
  <div class="columns medium-4">
  </div>
  <div class="columns medium-4">
    <img src="./assets/images/customer/desarrollo_h.png" alt="" title="Desarrollo para todos" />
  </div>
</div>
<div class="row small-right show-for-large">
  <div class="columns small-8 small-left">
      <h1>Registro Público de la Propiedad</h1>
  </div>
  <div class="columns small-4" style='text-align:right'>
    <h3>Secretaría de Gobierno</h3>
    <h2>Gobierno del Estado de Tlaxcala</h2>
  </div>
</div>
<img id="imgUpperLine" src="./assets/images/customer/pleca.roja.png" alt="" title="" />
<br/><br/><br/>
<div class="row">
  <div class="columns small-12 small-centered" style="text-align:center">
    <h2>Servicios gratuitos de consulta y verificación</h2>
  </div>
</div>
<br/>
<router-outlet></router-outlet>
<div class="row" style='position:fixed;bottom:8pt;width:100%;font-size:9pt'>
  <div class="columns small-6 copyright">
    <a class="copyright" href='http://www.ontica.org/land/'>Empiria Land 3.0: Servicios en línea</a>
  </div>
  <div class="columns small-6 small-right" style='text-align:right'>
    <a class="copyright" href='http://www.ontica.org/'>Copyright © La Vía Óntica SC, Ontica LLC y colaboradores.</a>
  </div>
</div>
