$font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$primary-color:  #7a0a0a !default;
$menu-prin-background-color: #7a0a0a;
$secondary-color: #2c3942 !default;
$secondary-color-light: rgb(67, 90, 107) !default;
$section-background-color: $secondary-color;

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  line-height: 1.5em;
  color: #333;
  font-size: 1em;
  font-family: $font-family;
}

img {
  background-color: transparent;
}

.header_desarrollo {
  padding: 0.1em;
  margin: 0;
}

.logo {
  width: 420px;
  max-width: 40%;
  margin-bottom: 15px;
}

.menu_prin_vc {
  background-color: $menu-prin-background-color;
  padding: 0.15em;
  margin: 0;
}

.titulo_principal {
  color: white;
  font-size: 1.3em;
  line-height: 1.6em;
  margin-top: 0;
  margin-bottom: 0;
}

.contenedor-transparencia {
  border-radius: 6px;
}

.contenedor-transparencia * {
 // background-color: #fafafa;
}

.contenedor-transparencia div {
  padding-bottom: 0.25em;
}

.contenedor-rojo {
  background-color: LavenderBlush;
  color: $secondary-color;
  font-family: $font-family;
  font-weight: 400;
  border: 2px FireBrick solid;
}

.contenedor-rojo * {
  background-color: LavenderBlush;
  color: $secondary-color;
  font-weight: 400;
}

.footer-separator {
  border-top: 1px solid $secondary-color;
  padding-top: 1em;
}

.mainTitle {
  line-height: 1.1em;
  text-align: center;
  font-size: 1.5em;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  color: #35434c;
}

a {
  color: $secondary-color-light;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: #306d4e;
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

.copyright {
  color: #888;
  line-height: inherit;
  font-size: 0.75em;
  padding-left: 2em;
}

#imgUpperLine {
  height: 24px;
  width: 100%;
  overflow: hidden;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input,
select {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 3em;
  background-color: #fcfcfc;
  outline: none;
  padding: 8px;
  border-radius: 2px;
}

.label-value {
  color: #333;
  font-size: 0.95em;
  font-family: $font-family;
  padding: 0;
}

.bold-text {
  font-weight: bold;
}

.section {
  color: white;
  background-color: $section-background-color;
  padding: 0.25em;
  padding-left: 0.75em;
  border-radius: 0 0 6px 0;
  font-family: $font-family;
}

.section-error {
  color: white;
  background-color: $secondary-color;
  padding: 0.25em;
  padding-left: 0.75em;
  border-radius: 0 0 6px 0;
}

.warning-status-text {
  color: $secondary-color;
  font-weight: 600;
}

.ok-status-text {
  color: $primary-color;
}

.ok-status-text div {
  color: $primary-color;
}

b {
  color: $primary-color;
}

.in-process-status-text {
  color: rebeccapurple;
  font-weight: 600;
}

.mono-space-text {
  font-family: Courier New, Courier, monospace;
}

.small-text {
  font-size: 0.8em;
}

.enhanced-text {
  color: #306d4e;
  font-weight: bold;
}

label {
  color: #8a8a8a;
  font-family: $font-family;
  padding-bottom: 0;
}

.small-label {
  color: #8a8a8a;
  font-size: 0.85em;
  padding-bottom: 0;
  padding-top: 0.5em;
  font-family: $font-family;
}

.left-indented {
  padding-left: 0.75em;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  font-family: $font-family;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  background-color: $secondary-color-light;
  border-radius: 6px;
}

.button:hover {
  background-color:#306d4e;
  text-decoration: none;
  color: #fff;
}

.button:active {
  background-color: #306d4e;
  transform: translateY(4px);
}

.text-align-center {
  text-align: center;
}

.firebrick-header {
  background-color: FireBrick;
  color: white;
  padding: 0.5em;
}

fieldset {
  border: none;
}

input[type=text]:focus {
  border: 3px solid  #306d4e;
}
