<!DOCTYPE html>
<html lang="es-MX">

<head>
	<base href="<%= APP_BASE %>">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dirección de Notarías y Registros Públicos | Gobierno del Estado de Tlaxcala</title>
	<meta name="description" content="Dirección de Notarías y Registros Públicos. Registro Público de la Propiedad. Gobierno del Estado de Tlaxcala.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/loading.page.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css">
	<script src="https://use.fontawesome.com/8fa060ff09.js"></script>

	<!-- inject:css -->
	<!-- endinject -->
</head>

<body>

	<empiria-land>
		<div class="center">
			<div>
				Registro Público de la Propiedad. Cargando los servicios en línea ...
				<br /> <br />
			</div>
			<div id="floatingCirclesG">
				<div class="f_circleG" id="frotateG_01"></div>
				<div class="f_circleG" id="frotateG_02"></div>
				<div class="f_circleG" id="frotateG_03"></div>
				<div class="f_circleG" id="frotateG_04"></div>
				<div class="f_circleG" id="frotateG_05"></div>
				<div class="f_circleG" id="frotateG_06"></div>
				<div class="f_circleG" id="frotateG_07"></div>
				<div class="f_circleG" id="frotateG_08"></div>
			</div>
		</div>

	</empiria-land>

	<script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

	<!-- shims:js -->
	<!-- endinject -->

	<% if (ENV === 'dev') { %>
		<script>
    System.config(<%=
      JSON.stringify(SYSTEM_CONFIG, null, 2)
    %>)
  </script>
		<% } %>

			<!-- libs:js -->
			<!-- endinject -->

			<!-- inject:js -->
			<!-- endinject -->

			<% if (ENV === 'dev') { %>
				<script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
          'Report this error at https://github.com/Ontica/Empiria.Land.SearchServices/issues');
    });
  </script>
				<% } %>

</body>

</html>