<form>
	<div class="row contenedor-transparencia">
		<div class="small-12 small-centered text-center columns">

			<fieldset>

				<div class="row">
					<div class="columns" style='padding-top:1.0em'>
						<div class='mainTitle'>Consulta y verificación de predios, trámites y documentos</div>
					</div>
				</div>

				<div class="row">
					<div class="columns text-center">
						<label for="searchBox">¿Qué desea consultar o verificar?</label>
						<!--<input style='width:308px;margin:auto' type="text" [ngModel]="selectedDocumentItemType" name='cboDocumentItemType'>-->
					</div>
				</div>

				<div class="row">
					<div class="columns">
						<select id="searchBox" #selectBox style='width:308px' [ngModel]="searchDocument.type" name='cboDocumentItemType' (change)="onSelectDocumentItem(selectBox.value)">
							<option value="{{DocumentItemType.empty}}">( Seleccionar una opción de la lista )</option>
							<option value="{{DocumentItemType.certificate}}">Un certificado</option>
							<option value="{{DocumentItemType.document}}">Un documento inscrito (sello registral)</option>
							<option value="{{DocumentItemType.resource}}">Un predio o sociedad (folio real)</option>
							<option value="{{DocumentItemType.transaction}}">Un trámite</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="columns text-center">
						<label for="searchValue">{{selectedDocumentItemName}}:</label>
					</div>
				</div>

				<div class="row">
					<div class="columns small-12 small-centered">
						<input style='width:308px;margin:auto' type="text" (input)="searchDocument.uid=$event.target.value.toUpperCase()" value="{{searchDocument.uid}}"
							placeholder="{{selectedDocumentItemName}}" maxlength="20" id="searchValue" (keydown.enter)="onSearchDocument()">
					</div>
				</div>


				<div class="row">
					<div class="columns small-12 small-centered" style='width:326px;vertical-align:middle'>
						<span style="float:left">
							<label><a (click)="clearForm()">Limpiar datos</a></label>
						</span>
						<span style="float:right">
							<a class="button" (click)="onSearchDocument()">Consultar</a>
						</span>
					</div>
				</div>

			</fieldset>

		</div>
	</div>
</form>

<div *ngIf="document.length !== 0 || hasError">&nbsp;</div>

<div class="row small-collapse contenedor-transparencia" *ngIf="document.length !== 0">
	<div class="columns small-12 small-centered">
		<div class="row small-collapse" *ngFor="let documentItem of document">

      <div *ngIf="documentItem.style.startsWith('section')">
				<div class="columns medium-12 large-10 small-centered">
					<div>&nbsp;</div>
					<div [ngClass]="documentItem.style">{{documentItem.name}}</div>
				</div>
			</div>

			<div *ngIf="!documentItem.style.startsWith('section')">
				<div class="columns hide-for-medium">
					<label class='small-label'>{{documentItem.name}}</label>
				</div>
				<div class="columns medium-3 large-2 large-offset-1 show-for-medium">
					<label class='left-indented'>{{documentItem.name}}:</label>
				</div>
				<div *ngIf="documentItem.style !== 'command'" class="columns medium-9 large-8 large-pull-1">
					<div [ngClass]="'label-value ' + documentItem.style" [innerHtml]='documentItem.value'></div>
        </div>
        <div *ngIf="documentItem.style === 'command'" class="columns medium-9 large-8 large-pull-1">
					<div>
            <a *ngIf="documentItem.value === 'ELECTRONIC_DELIVERY_COMMAND'"
               class="button" (click)="onElectronicDelivery()">Quiero recibir el trámite electrónicamente</a>
          </div>
        </div>
      </div>

    </div>



	</div>
</div>

<div class="row small-collapse contenedor-rojo" *ngIf="hasError">

	<div class="columns small-12 small-centered">

		<div class="row small-collapse">
			<div style="background-color:FireBrick;color:white;padding:0.5em">Hay un problema</div>
		</div>

		<div class="row small-collapse" style='padding:1.0em' [innerHtml]="errorMessage">

		</div>

	</div>

</div>
